
.App {
  text-align: center;
  font-family: Didot;
}

.header {
  backgroundColor: white;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 200px; /* width: 350px; */
}

.header{
  font-weight: bolder;
}


.image-gallery li img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  vertical-align: center;
  border-radius: 5px;
}

